body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
}



.container {
  width: 90%;
  max-width: 1440px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.primary-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.primary-btn:hover {
  background-color: #0056b3;
}

.kanban-board {
  display: flex;
  overflow-x: auto;
  gap: 20px;
}

.column {
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  width: 380px;
  max-height: 400px;
  overflow-y: auto;
  flex-shrink: 0;
  cursor: grab;
  /* border: 2px solid salmon; */
  cursor: context-menu;
  position: relative;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 4px;
  /* border: 2px solid salmon; */
  border-radius: 8px;
  background-color: rgb(209 250 229);
}

.column-header input {
  font-size: 1rem;
  font-weight: 600;
  background: transparent;
  border: none;
  outline: none;
  flex: 1;
}

.column-body {
  height: auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.task {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  cursor: grab;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.task {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: grab;
}

.task-content {
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.task-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.task-description {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

.task-assignee {
  font-size: 12px;
  color: #777;
  text-align: right;
}